<div class="page__footer__byline">
  ModPsy WebWorks Limited
</div>

<p class="page__footer__p">
  Registered in England & Wales<br />
  Company Number 08786639<br />
  VAT No. 177 8452 62
</p>
  Contact: <a href="mailto:queries@modpsy.co.uk" class="page__footer__a">queries@modpsy.co.uk</a>
