<head>
  <title>{{pageTitle}}</title>
  <link href="/css/main.css" rel="stylesheet" media="screen" />
  <script language="JavaScript" type="text/javascript" src="/js/ie_html5_elements.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/modpsy.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/retina.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/jquery.mobile.custom.min.js"></script>
</head>
