<ul class="page__nav__ul">
  <li class="page__nav__li"><a href="/" class="page__nav__about__a">about</a></li>
  <li class="page__nav__li"><a href="/portfolio/" class="page__nav__portfolio__a">portfolio</a></li>
  <!-- <li class="page__nav__li"><a href="/content/" class="page__nav__content__a">web&nbsp;content</a></li>
  <li class="page__nav__li"><a href="/design/" class="page__nav__design__a">web&nbsp;design</a></li>
  <li class="page__nav__li"><a href="/development/" class="page__nav__development__a">web&nbsp;development</a></li>
  <li class="page__nav__li"><a href="/faq/" class="page__nav__faq__a">faq</a></li> -->
</ul>
<div class="page__nav__reveal__div"></div>
