<header class="home__header">
	{{>pageHeader}}
</header>
<aside class="home__aside">
	<nav>
	{{>pageNav}}
	</nav>
</aside>
<section class="home__section__mainContent">
	<header class="home__section__header">
		<h2>
			Web content, design and development
		</h2>
	</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat ligula, accumsan fringilla convallis at, suscipit vitae turpis. Pellentesque eu tempor lectus. Vivamus vitae libero eu quam mollis dignissim rhoncus accumsan neque. Fusce sit amet augue tortor. Phasellus dapibus ipsum tortor, a posuere orci pulvinar vitae. In hac habitasse platea dictumst. Pellentesque id mauris consectetur lacus convallis rutrum. Phasellus tempus interdum mi eget pretium. Sed pharetra dapibus ipsum nec dapibus. Cras ornare fermentum vulputate.</p>

	<p>Maecenas egestas urna eu massa pulvinar bibendum. Pellentesque consectetur laoreet facilisis. Suspendisse suscipit odio eu nibh sodales iaculis id ut massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum faucibus, urna at bibendum eleifend, felis ligula euismod lacus, sed molestie velit quam sed augue. Curabitur dignissim dui sit amet arcu aliquet vulputate. Etiam orci lacus, laoreet ut dolor vitae, hendrerit eleifend turpis. Aenean vel euismod justo.</p>

	<p>In metus metus, posuere et aliquam nec, fringilla non diam. Etiam adipiscing ut purus et vehicula. Aenean sagittis accumsan orci id venenatis. Cras quis quam non lacus vestibulum tristique in at diam. In non pellentesque dui. Curabitur sodales malesuada ligula, quis faucibus neque vestibulum luctus. Donec vulputate tortor ut nulla pellentesque, at commodo lectus interdum. Mauris eu lobortis ante. Maecenas eu consequat leo. Duis augue orci, molestie quis metus semper, fermentum sollicitudin massa. In vel nunc eu quam blandit lobortis. Vestibulum feugiat mauris et diam semper luctus. Integer aliquet elit a leo bibendum facilisis.</p>

	<p>Pellentesque vestibulum nec ante nec ullamcorper. Phasellus tincidunt leo ut convallis congue. Nam lobortis lobortis orci quis congue. Cras dignissim pellentesque arcu, et laoreet libero ornare eu. Duis non euismod nulla, nec volutpat justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in interdum justo. Maecenas non elementum diam.</p>

	<p>Nullam risus urna, bibendum id nisi at, gravida pretium nulla. Phasellus gravida quam nec ante accumsan, in dignissim justo rutrum. Duis ornare nec leo varius malesuada. Duis mauris odio, vulputate a orci id, commodo faucibus enim. Donec nec hendrerit nisl. Aenean semper nunc luctus, porttitor risus ut, commodo nunc. Etiam feugiat, velit vel consectetur imperdiet, quam augue ornare lectus, a semper est tortor ac lectus. Curabitur pellentesque sem id aliquet tincidunt. Nunc pellentesque erat id tellus elementum feugiat. Donec eu purus at diam mollis accumsan. Quisque iaculis ante imperdiet porttitor eleifend. Etiam vehicula ullamcorper tincidunt.</p>

</section>
<footer>
    {{>pageFooter}}
</footer>
