<header>
	{{>pageHeader}}
</header>
<aside>
	<nav>
	{{>pageNav}}
	</nav>
</aside>
<article style="display: none;" class="appear3000">
	<header>
		<h2>
			Web content, design and development
		</h2>
		<div class="byline">
			ModPsy WebWorks Limited
		</div>
	</header>

	<blockquote>
	</blockquote>
	<footer>

	</footer>
</article>
<footer>
    {{>pageFooter}}
</footer>
