<header class="home__header">
	{{>pageHeader}}
</header>
<aside class="home__aside">
	<nav>
	{{>pageNav}}
	</nav>
</aside>
<section class="home__section__mainContent">
	<header class="home__section__header">
		<h2>
			jQuery
		</h2>
	</header>



</section>
<footer>
    {{>pageFooter}}
</footer>
