<header class="portfolio__header">
	{{>pageHeader}}
</header>
<aside class="portfolio__aside">
	<nav>
	{{>pageNav}}
	</nav>
</aside>
<section class="portfolio__section__mainContent">
	<header class="portfolio__section__header">
		<h2>
			Portfolio
		</h2>
	</header>
	<img src="/img/portfolio/nbt/homePage.png" class="portfolio__section__img imgOne" />
	<img src="/img/portfolio/nbt/homePage.png" class="portfolio__section__img imgTwo" />
	<img src="/img/portfolio/nbt/homePage.png" class="portfolio__section__img imgThree" />
</section>
<footer>
    {{>pageFooter}}
</footer>
